@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Work+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* ============ Configuracao global - Selecao do mouse em texto cores ============ */

:root{
    --fontPrimary: 'Work Sans', sans-serif;
    --fontSecundary: 'IBM Plex Mono', monospace;
    --colorBrandPrimary: #022B69;
    --colorBrandSecundary: #EF7D00;
    --colorContrastDark: #1C1C1C;
    --colorContrastLight: #FBFBFB;
    --colorFunctionPrimary: #3D86F5;
    --colorFunctionSecundary: #F59D3D;
    --colorFeedbackInfo: #A1C3F7;
    --colorFeedbackSuccess: #90DD88;
    --colorFeedbackWarning: #F5F53D;
    --colorFeedbackError: #EC9579;
    --colorTintPrimary400: #69A3FC;
    --colorTintPrimary300: #9BC2FD;
    --colorTintPrimary200: #CDE0FE;
    --colorTintPrimary100: #E6F0FF;
    --colorTintSecundary400: #FFAF57;
    --colorTintSecundary300: #FFC78A;
    --colorTintSecundary200: #FFDFBD;
    --colorTintSecundary100: #FFF8F0;
    --colorShadePrimary400: #022458;
    --colorShadePrimary300: #011B41;
    --colorShadePrimary200: #011432;
    --colorShadePrimary100: #000A19;
    --colorShadeSecundary400: #BD6300;
    --colorShadeSecundary300: #8A4800;
    --colorShadeSecundary200: #572D00;
    --colorShadeSecundary100: #241300;
    --colorGreyScale700: #2C2C2C;
    --colorGreyScale600: #3C3C3C;
    --colorGreyScale500: #575757;
    --colorGreyScale400: #707070;
    --colorGreyScale300: #8A8A8A;
    --colorGreyScale200: #D6D6D6;
    --colorGreyScale100: #F0F0F0;
    --shadowLevel1: 0px 4px 16px -4px rgba(0, 0, 0, 0.25);
    --shadowLevel2: 0px 8px 16px -4px rgba(0, 0, 0, 0.25);
    --shadowLevel3: 0px 12px 20px -8px rgba(0, 0, 0, 0.25);
}

/* ============ Configuracao global - Selecao do mouse em texto cores ============ */

::selection{
    color: var(--colorContrastLight);
    background: var(--colorFunctionPrimary);
}

body{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
/* ================= HEADER - CABECALHO DO SITE ================= */

header .container{
    font-family: var(--fontPrimary);
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

header .container .logoM3d svg{
    width: 94px;
}

header .container .topMenu nav{
    display: flex;
    align-items: center;
    gap: 32px;
}

header .container .topMenu nav a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--colorContrastDark);
    transition: 0.5s;
}

header .container .topMenu nav a:hover{
    text-decoration: underline 2px var(--colorFunctionSecundary);
    text-underline-offset: 8px;
}

header .container .topMenu nav button{
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    background: var(--colorFunctionPrimary);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer; 
    transition: 0.5s;
}

header .container .topMenu nav button:hover{
    background: var(--colorFunctionSecundary);
}

header .container .topMenu nav button a{
    color: var(--colorContrastLight);
}

header .container .topMenu nav button a:hover{
    text-decoration: none;
    color: var(--colorContrastDark);
}

/* ================================== MAIN - CORPO DO SITE ==================================*/

main .container{
    width: 90%;
    margin: auto;
    font-family: var(--fontSecundary);
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, auto));
    gap: 16px;
    padding: 48px;
    justify-content: space-evenly;
}

main .container details summary{
    list-style: none;
    cursor: pointer;
}

main .container ul li{
    list-style: none;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none
}

main .container ul li a{
    color: var(--colorContrastDark);
    text-decoration: none;
    transition: 0.3s;
}

main .container ul li a:hover{
    border-bottom: 2px solid;
    color: var(--colorFunctionSecundary);   
}

main .container ul li a:focus{
    color: var(--colorShadeSecundary400);
}

main .container .dropMenu1,
main .container .dropMenu2,
main .container .dropMenu3{
    width: auto;
    font-size: 20px;
    font-weight: 600;
}

main .container .dropMenu1 .dropMenuTitle,
main .container .dropMenu2 .dropMenuTitle,
main .container .dropMenu3 .dropMenuTitle{
    background: var(--colorGreyScale500);
    color: var(--colorContrastLight);
    padding: 12px 28px;
    border-radius: 8px;
    transition: 0.3s;
}

main .container .dropMenu1 img,
main .container .dropMenu2 img,
main .container .dropMenu3 img{
    width: 28px;
}

main .container .dropMenu1 .dropMenuTitle:hover,
main .container .dropMenu2 .dropMenuTitle:hover,
main .container .dropMenu3 .dropMenuTitle:hover{
    background: var(--colorFunctionSecundary);
    transform: translate(12px);
}

main .container .dropMenu1 .dropMenuSubTitle,
main .container .dropMenu2 .dropMenuSubTitle,
main .container .dropMenu3 .dropMenuSubTitle{
    background: var(--colorGreyScale300);
    color: var(--colorContrastLight);
    font-size: 18px;
    padding: 12px 28px;
    border-radius: 8px;
    transition: 0.3s;
}

main .container .dropMenu1 .dropMenuSubTitle:hover,
main .container .dropMenu2 .dropMenuSubTitle:hover,
main .container .dropMenu3 .dropMenuSubTitle:hover{
    background: var(--colorTintSecundary400);
    transform: translate(8px);
}

main .container .dropMenu1 .dropMenuSubTitle:focus,
main .container .dropMenu2 .dropMenuSubTitle:focus,
main .container .dropMenu3 .dropMenuSubTitle:focus{
    transform: translate(8px);
}

main .container .dropMenu1 .dropMenuSubTitle2,
main .container .dropMenu2 .dropMenuSubTitle2,
main .container .dropMenu3 .dropMenuSubTitle2{
    background: var(--colorTintSecundary300);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 28px;
    border-radius: 8px;
    transition: 0.3s;
}

main .container .dropMenu1 .dropMenuSubTitle2:hover,
main .container .dropMenu2 .dropMenuSubTitle2:hover,
main .container .dropMenu3 .dropMenuSubTitle3:hover{
    background: var(--colorFunctionSecundary);
}




main .container .dropMenu4{
    width: 300px;
    border-radius: 8px;
    background: var(--colorGreyScale600);
}

main .container .dropMenu5{
    width: 300px;
    border-radius: 8px;
    background: var(--colorGreyScale600);
}

main .container .dropMenu6{
    width: 300px;
    border-radius: 8px;
    background: var(--colorGreyScale600);
}


/* #################################### FOOTER - Rodape do site configuracao #################################### */

footer .container{
    border-top: solid 0.4px #eaeaea;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;
}

footer .container h3{
    text-align: center;
    color: #eaeaea;
    font-weight: 500;
    font-size: 1rem;
}

footer .container .icones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    gap: 30px;
    fill: #7a7a7a;
}

footer .container .icones .iconeLogo1 a svg{
    width: 70px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo1 a svg:hover{
    fill: #3F72F2;
    transform: scale(1.2) translate(0%, -12px);
}

footer .container .icones .iconeLogo2 a svg{
    width: 50px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo2 a svg:hover{
    fill: #2746E6;
    transform: scale(1.2) translate(0%, -12px);
}

footer .container .icones .iconeLogo3 a svg{
    width: 50px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo3 a svg:hover{
    fill: #eebb1a;
    transform: scale(1.2) translate(0%, -12px);
}

footer .container .icones .iconeLogo4 a svg{
    width: 70px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo4 a svg:hover{
    fill: #c30101;
    transform: scale(1.2) translate(0%, -12px);
}

/* #################################### Responsividade do site  telas pequenas 1280 - 769px ###################### */

@media screen and (max-width: 1080px){

    main .container{
        display: flex;
        flex-wrap: wrap;
    }

}

/* ###################### Responsividade do site telas smartphone 320px - 480px e tablets 481px - 768px ###################### */

@media screen and (max-width: 798px){

    header .container{
        flex-direction: column;
    }

    header .container .logoM3d svg{
        width: 128px;
    }

    header .container .topMenu nav{
        padding: 0 8px;
        gap: 8px;
    }

    header .container .topMenu nav a{
        font-size: 1.1rem;
    }

    header .container .topMenu nav button{
        font-size: 1.1rem;
        padding: 8px 16px;
    }

    main .container{
        width: 95%;
        display: flex;
        flex-direction: column;
    }

}